# API
HOST=127.0.0.1
PORT=3001
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET= # bunx auth secret
TRUSTED_ORIGINS=http://localhost:5173
WA_GATEWAY_URL=http://localhost:3002
# SELF_HOST=true

# WA-GATEWAY
WA_GATEWAY_HOST=127.0.0.1
WA_GATEWAY_PORT=3002

# WEB
VITE_API_URL=http://localhost:3001
